<h1><%= t('text.editing_event') %></h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>
  </div>	
</div>

<%= link_to t('text.show'), @event %> |
<%= link_to t('text.back'), events_path %>