<h1>События</h1>

<div class="buffer-both">
  <%= link_to 'Создать событие', new_event_path, class: 'btn btn-success' %>
</div>

<div class="container overflow-hidden">
<div class="row gy-4">
  <%= render partial: 'events/event', collection: @events %>
</div>
</div>